body{
    background-color: #f2f2f2;
    color:#333;
    margin:0px;
    padding:0px;
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
}

ul{
    text-decoration: none;
    list-style: none;
    padding-left:10px;
}

input,select{
    width: 48%;
}

input[type=radio] , input[type=checkbox]{
    width: auto;
}

input[type=checkbox]{
    margin-right:5px;
}

.flex{
    display: flex;
}

.flex--wrap{
    flex-wrap: wrap;
}

.flex--reverse{
flex-direction: row-reverse;

}

.flex--center{
    justify-content: center;
    align-items: center;
}

.flex--align-center{
    align-items: center;
}

.flex--align-baseline{
    align-items: baseline;
}

.flex--column{
    flex-direction: column;
}
.flex--justify-around{
    justify-content: space-around;
}

.flex--justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.margin-bottom-10{
    margin-bottom:10px;
}

.row{
    margin-bottom:20px;
    width: 100%;
    padding:0px 10px;
}

header{
    padding: 20px 0px;
    background: rgb(255,214,94); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
}

#headerImg{
    width:20%;
    
}

#title{
    margin-top:0px;
    background-color: rgb(250, 214, 108);
    padding:5px;
    margin-bottom:5px;
}

#description {
    background-color: #f2f2f2;
    margin:0px;
    padding:10px;
}

#survey-form{
    width:50%;
    margin:0px auto;
    padding:20px 50px;
    background-color: #fff;
}
.labels{
    width:40%;
    margin:20px;
    text-align:right;
}

label[for=howUKnow], label[for= whyUPlay]{
    margin-top:10px;
}

fieldset{
    padding:0.5em 1em;
    align-self: flex-end;
    width: 44%;
}

label[for="addComments"]{
    text-align: left;
}

textarea{
    width: 48%;
}

footer{
    background-color: #333;
    padding: 40px;
}

footer ul{
    margin-bottom:0px;
}

footer #links-container{
    width:50%;
    min-width:50%;
    margin:0px auto;
}

footer #links-container a{
    text-transform: none;
    text-decoration: none;
}

footer #links-container a i{
    color:#fff;
}

footer #links-container a i:hover{
    color:rgba(255, 255, 255, 0.664);
}

button{
    width:50%;
    padding:10px 5px;
    margin-top:10px;
}

button:hover{
    background-color: rgba(2, 146, 2, 0.801);
    border:2px solid #fff;
    color:#fff;
}

